body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-size: 14px;
  color: #1F2937;
}

.header {
  margin: 4px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-bottom: 2px solid #F4F5F7
}

.content {
  margin: 0 auto;
  width: 80%;
}

.badge {
  display: flex;
  justify-content: center;
}

.badge-center {
  border-radius: 20px;
  text-align: center;
  width: 100px;
}

.badge-content {
  border-radius: 20px;
  padding: 3px;
  width: 70px;
}

li {
  list-style: none;
}

table {
  border: 2px solid #F4F5F7;
  border-radius: 8px;
  display: table;
  min-height: 79vh;
  width: 100%;
}

thead,
tbody,
tr {
  width: 100%;
}

thead,
td,
th {
  background: #F4F5F7;
  padding: 10px;
  text-align: left;
}

tr {
  cursor: pointer;
}

tbody,
td {
  background: #FFFFFF;
}

td {
  white-space: nowrap;
}

.filter-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}

select {
  padding: 6px;
  border: none;
}

.pagination,
.pagination-details {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.page-item {
  border: 1px solid #E4E4E7;
  height: 24px;
}

.page-item:nth-child(1) {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.page-item:nth-last-child(1) {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.page-item a {
  text-decoration: none;
  padding: 10px;
  line-height: 23px;
}

.page-item a:active {
  background: #F4F5F7;
}

.details-modal,
.date-modal {
  min-height: 130vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.details-modal-box,
.date-modal-box {
  margin: 0 auto;
  width: 525px;
  background: white;
  border: 2px solid #FFF;
  position: relative;
  top: 70px;
  border-radius: 6px;
}

.date-modal-box {
  width: 580px;
}

.closeDatebutton {
  text-align: end;
  margin: 10px;
  cursor: pointer;
}

.date {
  padding: 15px 0;
}

.details-modal-content {
  margin: 7px;
  padding: 7px;
}

.modal-content-header {
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-badge {
  border-radius: 20px;
  width: 70px;
  text-align: center;
  font-size: 12px;
  line-height: 20px
}

.rocket-details {
  padding: 12px;
  line-height: 24px;
}

.rocket-info {
  flex: 1;
  padding: 10px;
}

.modal-badge {
  margin-left: 20px;

}

.rocket-name,
.rocket-type-info,
.rocket-links {
  margin: 5px;
}

.rocket-name {
  display: flex;
}

.rocket-mission-name {
  font-size: 18px;
  font-weight: bold;
}

.rocket-img {
  height: 70px;
  padding: 7px;
}

.rocket-type-info {
  font-size: 12px;
  color: #374151
}

.rocket-links a {
  margin: 10px 10px 0 0;
  color: black;
  font-size: 10px;
}

.rocket-config {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.closebutton {
  position: absolute;
  right: 20px;
  top: 7px;
  color: #4B5563;
  cursor: pointer;
}

.rocket-config-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px;
  margin: 4px;
  border-bottom: 1px solid #E4E4E7;
  padding-bottom: 12px;
}

.rocket-config-title {
  flex: 0.8;
}

.rocket-config-value {
  flex: 1;
}